html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	min-height: 100vh;
	background-color: #000;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/

@font-face {
	font-family: 'Courier Prime';
	src: url('materials/Courier Prime.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/**/

h1,
h2,
h3,
p {
	font-family: 'Courier Prime', monospace;
	color: #ffffff;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 0.25em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 0.25em;
}

p {
	font-size: 1em;
	margin-bottom: 0.25em;
}

/**/

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('materials/background.jpg') no-repeat center fixed;
	background-size: cover;
	z-index: -1;
}

.layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

.content {
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	max-width: 40%;
	z-index: 1;
}

.rank {
	position: fixed;
	bottom: 40%;
	left: 50%;
	transform: translateX(-50%);
	width: 160px;
	height: 278px;
}